.pro_btn {
 
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #eee;
    padding:0px!important;



    }

    .pro_titl{font-size: 18px!important;
        line-height: 1.67!important;
        margin-bottom: 2px!important;
        
    }
  .pro_btn:before {
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
        z-index: -1;
      }

    .btn-icon {
        margin-left: 4px;
        position: relative;
        top: 1px;
        }


        .pro_btn:hover {
            background-color: #086ad8;
            color:#fff;


          }
          
          .pro_btn:hover:before {
            -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                    transform: translateY(0);
          }

.pro_body{padding:10px 10px 20px 10px; font-size: 15px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.74;
}

          

a, input[type='text'], input[type='email'], input[type='url'], input[type='password'], input[type='search'], input[type='number'], input[type='tel'], select, textarea, button, input[type='button'], input[type='reset'], input[type='submit'], .button, .header-right-inner, .popup-search-wrap i, .pro_btn-open-popup-search, .mini-cart__button, .header-right-more, .page-open-main-menu i, .switcher-language-wrapper .wpml-ls .wpml-ls-sub-menu, .page-close-main-menu, .page-close-main-menu:before, .page-close-main-menu:after, .page-off-canvas-main-menu, .page-open-mobile-menu i, .page-close-mobile-menu:before, .page-close-mobile-menu:after, .page-mobile-menu-opened.mobile-menu-push-to-right .site, .page-mobile-menu-opened.mobile-menu-push-to-left .site, .page-mobile-main-menu, .page-mobile-main-menu .toggle-sub-menu, .page-scroll-up, .page-scroll-up i, .search-popup-close:before, .search-popup-close:after, .page-open-off-sidebar i, .page-close-off-sidebar:before, .page-close-off-sidebar:after, .page-off-sidebar, .site, .tm-swiper:hover .swiper-nav-button, .tm-swiper .swiper-pagination-bullet:before, .tm-swiper.nav-style-02 .swiper-nav-button:before, .newsletter-popup, .newsletter-popup .inner, .newsletter-popup-close, .entry-post-share .share-list, .blog-nav-links .inner div, .blog-nav-links .inner h6:before, .single-case_study .tm-sticky-column, .case-study-nav-links .inner h6, .case-study-nav-links .inner h6:before, .tm-grid-wrapper.filter-style-01 .filter-counter, .tm-blog.style-grid-classic .post-feature, .tm-blog.style-grid-masonry .post-wrapper, .tm-blog.style-grid-masonry .pro_pro_btn, .tm-blog.style-grid-masonry .pro_pro_btn:before, .tm-blog.style-grid-metro .post-wrapper, .tm-blog.style-list-small-image-02 .post-title, .tm-blog-widget.style-list .post-overlay, .tm-blog-widget.style-simple-list .post-overlay, .tm-blog-widget.style-simple-list .post-title a:before, .tm-blog-widget.style-simple-list .post-title a:after, .tm-case-study .post-wrapper, .tm-case-study .post-thumbnail img, .tm-case-study.caption-style-01 .post-wrapper, .tm-case-study.caption-style-02 .pro_btn, .tm-case-study.caption-style-02 .pro_btn:before, .tm-case-study.style-carousel .pro_btn, .tm-case-study.style-carousel .pro_btn:before, .case-study-overlay-faded .post-overlay, .case-study-overlay-faded-02 .post-overlay, .case-study-overlay-faded-03 .post-overlay, .case-study-overlay-faded-03 .post-overlay-title, .case-study-overlay-faded-03 .post-overlay-read-more, .tm-button, .tm-button.tm-button-icon-move .button-icon, .tm-list .title, .tm-list .marker, .tm-list.style-auto-numbered-02 .title, .tm-list.style-auto-numbered-02 .title:before, .tm-list.style-auto-numbered-02 .title:after, .tm-gradation.style-01 .circle, .tm-gradation.style-01 .icon, .tm-gradation.style-01 .heading, .tm-gradation.style-02 .icon, .tm-gradation.style-02 .heading, .tm-simple-job-listing .item, .tm-box-icon .icon, .tm-box-icon .content-wrap, .tm-box-icon .heading, .tm-box-icon .pro_btn, .tm-box-image .content-wrap, .tm-box-image .image, .tm-box-image .image-hover, .tm-box-image .heading, .tm-box-image .text, .tm-box-image .pro_btn, .tm-box-image.style-01 .circle-arrow .middle-arrow, .tm-box-image.style-02 .images, .tm-box-image.style-05 .images, .tm-box-image.style-06 .pro_btn, .tm-box-image.style-06 .pro_btn:before, .tm-box-large-image .content-wrap, .tm-box-large-image .heading, .tm-box-large-image.style-01 .image:after, .tm-box-large-image.style-02 .image:before, .tm-box-large-image.style-02 .image:after, .tm-box-large-image.style-03 .pro_btn, .tm-box-large-image.style-03 .pro_btn:before, .tm-box-large-image.style-04 .image, .tm-accordion .accordion-title, .tm-accordion.style-02 .accordion-icon:before, .tm-testimonial .testimonial-item, .tm-slider.style-01.fw-image .image img, .tm-slider-gallery.big-shadow .image > img, .tm-slider-button.style-01 .slider-pro_btn, .tm-slider-button.style-02 .slider-pro_btn, .tm-pricing.style-01 .inner, .tm-pricing.style-02 .inner, .tm-simple-product .product-wrapper, .tm-team-member.group-style-01, .tm-team-member.group-style-01 .social-networks, .tm-team-member.group-style-01 .social-networks a, .tm-social-networks.style-icon-title .link-icon, .tm-social-networks.style-title .link-text, .tm-js-chart .chart-legends li, .mailchimp-form-popup, .mailchimp-form-popup .inner, .mailchimp-form-popup-close, .tm-gallery .overlay, .tm-gallery .overlay-icon, .tm-view-demo .frame-screen, .tm-view-demo .overlay, .tm-instagram .overlay, .tm-services-list.style-02 .service-image .blend-bg, .tm-services-list.style-02 .service-image .blend-image, .tm-product.style-grid .woocommerce_loop_add_to_cart_wrap a, .tm-product.style-grid .woocommerce_loop_add_to_cart_wrap a:before, .tm-product-categories.style-carousel .cat-content, .vc_general.vc_pagination.vc_pagination-shape-round .vc_pagination-trigger:before, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-01 .vc_tta-tab > a, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-02 .vc_tta-tab > a, .wpb-js-composer .vc_tta.vc_general.vc_tta-style-mitech-03 .vc_tta-tab > a, .widget_recent_entries li a:before, .widget_recent_entries li a:after {
-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); 
 transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
